body {
  margin: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

* {
  --ui_border: 3px solid rgba(127,127,127,1.0);
  --title_padding: 2px;
}

#webgpu_canvas {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.taeca-title {
  position: absolute;
  left: 80px;
  top: 0px;
  width: 420px;

  font: 1.05em 'Open Sans', sans-serif;
  color:white;
  background-color: rgba(0,0,0,0.8);
  line-height: 1.25em;
  

  padding: var(--title_padding) 6px;
  box-sizing: content-box;
  height: calc(48px - var(--title_padding) * 2);
  border-bottom: var(--ui_border);
  border-right:var(--ui_border);
  opacity: 0.9;
}

.taeca-stats {
  border-bottom: var(--ui_border);
}

.taeca-title a {
  position: absolute;
  top:0px;
  right:0px;
  height: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.taeca-title a img {
  height: 100%;
  width: 100%;
}
